*{
	padding: 0;
	margin: 0;
}
#menu{
	position: relative;
	margin: 0 auto;
	width: 660px;
	height: 40px;
}
#menu ul{
	margin-top: 30px;
	margin-left: 95px;

}
#menu li{
	float: left;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#menu li a{
	text-decoration-line: none;
	color: black;
}
#menu li:hover a{
	color: rgba(0, 0, 0, 0.15);
}
#menuImages{
	width: 160px;
	margin: 0 auto;
	border-bottom: none!important;
}
#menu img{
	position: absolute;
	top: -30px;
	left: 230px;
	z-index: 2;
}

#tool{
	width: 100%;
	height: 1000px;
}
#information{
	width: 100%;
	height: 100px;
}
#login{
	width: 100%;
	height: 100px;
}
#toolTitle{
	
	font-weight: bold;
	color: rgba(30, 220, 185, 1);
}
#toolSlogan{
	
}
#toolBlock{
	position: relative;
	width: 100%;
	height: 500px;
	margin-top: 5%;
	background-color: rgba(0, 0, 0, 0.5);
}
#toolItem1{
	padding-left: 20px;
	width: 300px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 20px;
}
#toolItem2{
	margin-left: 10px;
	width: 300px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 330px;
}
#toolItem3{
	margin-left: 10px;
	width: 300px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 640px;
}
#toolItem4{
	margin-left: 20px;
	width: 300px;
	height: 240px;
	position: absolute;
	top: 240px;
	left: 20px;}
#toolItem5{
	margin-left: 10px;
	width: 300px;
	height: 240px;
	position: absolute;
	top: 240px;
	left: 330px;
}
#toolItem6{
	margin-left: 10px;
	width: 300px;
	height: 240px;
	position: absolute;
	top: 240px;
	left: 640px;
}

.toolImages img{
	width: 300px;
	height: 150px;
}
.toolItemInfo{
	position: relative;
}
.toolItemPosition{
	position: absolute;
	top: 0;
	right: 0;
}
#toolFooter{
	padding: 0 20px 0 20px;
}
@media screen and (min-width: 481px) and (max-width: 700px){
	/*tool*/
	#toolBlock{
		
	}
	#menu ul{
	margin-top: 30px;
	margin-left: 95px;
	}
	#toolItem1{
		position: absolute;
		top: 
	}
}